<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="it.andreacioni.kp2a.plugin.keelink">

    <!-- INTERNET PERMISSION -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- CAMERA PERMISSION -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Android Q -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false"/>

    <!-- Since Android SDK >= 30 we need to set -->
    <queries>
        <package android:name="keepass2android.keepass2android" />
        <package android:name="keepass2android.keepass2android_nonet" />
        <package android:name="it.andreacioni.kp2a.plugin.keelink" />
    </queries>


    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" tools:replace="android:icon,android:theme"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CustomCaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/QRScanActivity"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <receiver android:name=".k2pa.Kp2aAccessReceiver" android:exported="true">
            <intent-filter>
                <action android:name="keepass2android.ACTION_TRIGGER_REQUEST_ACCESS" />
                <action android:name="keepass2android.ACTION_RECEIVE_ACCESS" />
                <action android:name="keepass2android.ACTION_REVOKE_ACCESS" />
            </intent-filter>
        </receiver>

        <receiver android:name=".k2pa.Kp2aActionReceiver" android:exported="true">
            <intent-filter>
                <action android:name="keepass2android.ACTION_OPEN_ENTRY" />
                <action android:name="keepass2android.ACTION_ENTRY_ACTION_SELECTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>